<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="infos">
      <ion-icon name="beer-outline"></ion-icon>
      <ion-label>Informações</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="qr-code"></ion-icon>
      <ion-label>Leitor</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="more">
      <ion-icon name="leaf-outline"></ion-icon>
      <ion-label>Saiba mais</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>